
<% @articles.each do |article| %>
    <div class="container" id="home-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-info" %></h5>
                <h6 class="card-subtitle mb-2 text-muted font-italic"><%= article.rating %></h6>
                <p class="card-text"><%= article.description %></p>
                <%= link_to "Edit", edit_article_path(article), class: "card-link text-success" %>
                <%= link_to "Delete", article_path(article), class: "card-link text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                
            </div>
        </div>
    </div>
<% end %>



