<div class="container" id="home-container">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= @article.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @article.rating %></h6>
        <p class="card-text"><%= @article.description %></p>
        <%= link_to "Edit", root_path, class: "card-link" %>
        <%= link_to "Delete", root_path, class: "card-link" %>
        
    </div>
</div>
</div>