<h1 class="text-center mt-4">Wanna watch list</h1>
    <p class="container text-center">
        <%= link_to 'Create a new article', new_article_path, class: "btn  btn-info "%>
        <%= link_to 'Articles', articles_path, class: "btn  btn-success "%>
    </p>

<div class="container" id="home-container">  
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
        <div class="row">
            <% @articles.each do |article| %>
                <% if article.watched == false %>
                    <div class="container col" id="home-container">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-info" %></h5>
                                <% if !(article.expecting == nil) %>
                                    <% if article.expecting >= 75 %>
                                    <h6 class="card-subtitle mb-2 font-italic badge badge-pill badge-success  mr-1"><%= article.expecting %></h6> &nbsp<a class= "text-muted">Expeting</a>
                                    <% else %>
                                        <h6 class="card-subtitle mb-2 font-italic badge badge-pill badge-danger  mr-1"><%= article.expecting %></h6> &nbsp<a class= "text-muted">Expeting</a>
                                    <% end %>
                                <% end %>
                                <p class="card-text"><%= truncate(article.description, length: 50) %></p>
                                <% if article.categories.any? %>
                                    <div class="mt-2"><%= render article.categories %></div> 
                                <% end %>
                                <%= link_to "Edit", edit_article_path(article), class: "card-link text-success" %>
                                <%= link_to "Delete", article_path(article), class: "card-link text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                            </div>
                            <div class="card-footer text-muted">
                                <small>Released <%= article.dates %>,
                                Watched <%= time_ago_in_words(article.updated_at) %> ago</small>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>

