<!DOCTYPE html>
<html>
  <div id="page-content">
    <head>
      <title>WatchedB4</title>
      <%= favicon_link_tag asset_path('logo.ico') %>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <%= render 'layouts/navigation' %>
        <%= yield %>  
        <%= render 'layouts/footer' %>
      
    </body>
  </div>
    
  
</html>